body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-content {
  padding-top: 70px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: crimson;
  color: aliceblue;
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
}

.nav-image {
  width: 25px;
  height: 25px;
  border-radius: 11px;
  margin: 5px;
}

.destination-image {
  width: 300px;
  padding-right: 100px;
}

.destination {
  display: flex;
  padding-left: 100px;
}

.description {
  padding-right: 100px;
}
